{% extends "base.html" %}
{% block title %}Login {% endblock %}
{% block content %}
<!-- search section -->
<section class="search-section ss-other-page">
  <div class="container">
    <div class="search-warp">
      <div class="section-title text-white">
        <h2><span>Login</span></h2>
      </div>
      <div class="row">
        <div class="col-lg-10 offset-lg-1">
          <!-- search form -->
          <form class="course-search-form" method="post" action='{% url 'login' %}'>
            {% csrf_token %}
            <input type="text" placeholder="Username" name="username">
            <input type="password" class="last-m" placeholder="Password" name="password">
            <button class="site-btn btn-dark">Login</button>
          </form>
        </div>
      </div>
    </div>
  </div>
</section>
{% endblock %}
<!-- search section end -->
